.bg-custom{
	background-color: #3d3d3d;
}

.border-custom{
	border-top: 1px solid lightgrey;
}
 .para{
 	color: #546de5;
 }
.para2{
color: #3d3d3d;
}

.font{
	font-family: 'Playfair Display', serif;
}

.icon-custom{
	color: #c5c4c4;
	margin-right: 15px;
    font-size: 20px;
}